@model MVCTurnera.Models.Cita

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCita" />
            <div class="form-group">
                <label asp-for="fechaCita" class="control-label"></label>
                <input asp-for="fechaCita" class="form-control" />
                <span asp-validation-for="fechaCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horaCita" class="control-label"></label>
                <input asp-for="horaCita" class="form-control" />
                <span asp-validation-for="horaCita" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="estaDisponible" /> @Html.DisplayNameFor(model => model.estaDisponible)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
